:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #3691b0;
    --cor-hover: #1e5162;

    --fonte-primaria: "Lexend", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

header {
    max-width: 1000px;
    margin: 12px 18px;
    width: 90%;
    height: 60px;
    font-size: 16px;
    color: var(--cor-hover);
    display: flex;
    gap: 15px;
    font-family: var(--fonte-primaria);
    font-size: 10px;
    font-weight: 400px;    
}
.imagen_logo {
    height: 50px;
    width: 50px;
}

main {
    padding-left: 12px;
   align-items: center;
}
.agregar_producto {
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-size: 15px;
    font-weight: 700px;
    width: 90%;
    padding: 10px;
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--cor-primaria);
    
}

.titulo_adicionar_producto {
    text-align: center;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: 700;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    
}

.formulario-linea {
    border: 1px solid;
    border-radius: 15px;
    border-color: var(--cor-primaria);
    height: 30px;
    width: 100%;
    font-family: var(--cor-hover);
    font-size: 18px;
    font-weight: 200;
    
}

.botones {
    display: flex;
    justify-content: space-between;
}

.boton-limpiar {
    background-color: transparent;
    color: var(--cor-secundaria);
    height: 30px;
    border: 1px solid;
    border-radius: 15px;
    width: 30%;
    cursor: pointer;
}

.boton-guardar {
    background-color: transparent;
    border: 1px solid;
    height: 30px;
    border-radius: 15px;
    width: 30%;
    cursor: pointer;
    }

.titulo_productos {
        color: var(--cor-primaria);
        text-align: center;
        font-family: var(--fonte-primaria);
        font-size: 20px;
        font-weight: 700;
    }

.imagen_producto {
    width: 154px;
    height: 147px;
    border-radius: 5px;
    border: 1px solid var(--cor-primaria);
}

.papelera {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 0px, 0px, 10px, 0px;
    width: 400px;
    overflow: scroll;
}
 .container_producto {
    background-color: var(--cor-terciaria);
    width: 160px;
    height: 250px;
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    padding-top: 30px;
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria);
    font-size: 18px;
    font-weight: 400;
    gap: 0px;
} 

.container_valor {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}

.boton-eliminar {
    background-color: transparent;
    border: transparent;

}

footer {
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: 700;
    color: var(-- --cor-secundaria);
    text-align: center;
    align-items: center;
    width: 430px;
    height: 50px;
}

@media (min-width: 430px) {
    .cuerpo {
        padding-top: 25px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .agregar_producto {
        background-color: transparent;
        border: transparent;
    }

    .titulo_adicionar_producto {
        color: var(--cor-primaria);
    }

    .formulario-linea {
        border: 2px solid;
        border-radius: 15px;
        border-color: var(--cor-terciaria);
        font-family: var(--cor-hover);
        font-size: 18px;
        font-weight: 200;
        
    }

    
    .boton-limpiar {
       background-color: var(--cor-terciaria);
       color: var(--cor-secundaria);
        border: 1px solid;
    }
    
    footer {
        width: 100%;
        display: flex;
        justify-content: center;

    }
}

@media (min-width: 1000px) {
    .container {
        width: 700px;
        height: 800px;
    }

}


